:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #fa0808;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transistion */

    --trans-03: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #2A2526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: rgb(250, 246, 246);
}
.main_section{
    margin-top: 20px;
    position: relative;
    left: 290px;
    top: 20px;
}

.sidebar.close~ .main_section{
    left: 110px;
}


/* .content{
    width: 100%;
    height: 200px;
}

.main_section .main_container .from .DropDown{
    width:calc(100% - 970px) ;
    margin: 10px 0px;
    height: 36px;
    font-size: 16px;
    border: 2px solid var(--text-color);
    
    
}
*/
.main_section .main_container .from .content1 .inputs{
    display: inline-block;
    width: 36%;
    padding: 8px;
    font-size: 15px;
    height: 36px;
    margin: 20px 10px;
} 

.label_grp{
    position: absolute;
    top: -25px;
    font-size: 19px;
}


.main_section .main_container .from .DropDown{
    width: 32%;
    display: inline-block;
    padding: 5px;
    font-size: 18px;
} 
